body {
    background-color: #333333;
    font-family: sans-serif;
    color: white;

    text-align: center;
}

canvas {
    position: fixed;
    background-color: white;
    
    width:  220px;
    height: 700px;
    
    top:  calc(50% - 350px);
    left: calc(50% - 110px);
    
    margin:  0;
    padding: 0;
}

.slider {
    position: relative;
    top: 10px;
    width: 100%;
    -webkit-appearance: none;
    height: 5px;
    outline: none;
}

.llab {
    position: absolute;
    left: 0%;
    top: 0px;
    height: 5px;
}

.rlab {
    position: absolute;
    right: 0%;
    top: 0px;
    height: 5px;
}

#vlab {
    position: absolute;
    top: 30px;
    left: calc(33.3% + 8px);
    background-color: rgb(151, 151, 151);
    color: black;
    padding: 8px;
    border-radius: 0px 10px 10px 10px;
}

#slider {
    position: fixed;
    width: 80%;
    top: 20px;
    left: 10%;

    color: white;
}

.question {
    display: flex;
    margin-bottom: 5px;
    margin-left: calc(50% - 210px);
}

.label {
    width: 200px;
    margin-right: 10px;
    text-align: right;
}

.input {
    width: 250px;
}

.done {
    margin-top: 20px;
    width: 300px;
    height: 30px;
}

.text {
    margin-right: 20%;
    margin-left: 20%;
}