body {
    background-color: #333333;
}

canvas {
    position: fixed;
    background-color: white;
    
    width:  700px;
    height: 700px;
    
    top:  calc(50% - 350px);
    left: calc(50% - 350px);
    
    margin:  0;
    padding: 0;
}