body {
    background-color: #333333;
    font-family: sans-serif;
    color: white;

    text-align: center;
	
	touch-action: none;
    -ms-touch-action: none; /* Shunt all pointer events to JavaScript code. */
}

canvas {
    position: fixed;
    background-color: white;
    
    width:  220px;
    /* height: 700px; */
    height: 555px;
    
    /* top:  calc(50% - 350px); */
    top:  100px;
    left: calc(50% - 110px);
    
    margin:  0;
    padding: 0;
}

h2 {
    position: fixed;
    /* bottom: 10px;
    right: 40%;
    width: 20%; */
    top: 285px;/*80px; */
    left: calc(50% + 150px);
    padding-right: 40px;
    text-align: center;
}

canvas.test {
    /* left: calc(75% - 110px); */
    left: 55%;
}

h2.test {
    /* left: calc(75% - 110px); */
    left: calc(55% + 260px);
}

.float_left {
    position: relative;
    width: 50%;
}

.slider {
    position: relative;
    top: 10px;
    width: 100%;
    -webkit-appearance: none;
    height: 5px;
    outline: none;
	background-color: white;
}

input[type=range]::-ms-thumb {
	background-color: blue;
	width: 20px;
	height: 20px;
	
    border: none;
    border-radius: 50%;
}

.llab {
    position: absolute;
    left: 0%;
    top: 0px;
    height: 5px;
}

.rlab {
    position: absolute;
    right: 0%;
    top: 0px;
    height: 5px;
}

#vlab, #vlabA, #vlabB {
    position: absolute;
    top: 30px;
    left: calc(33.3% + 8px);
    background-color: rgb(151, 151, 151);
    color: black;
    padding: 8px;
    border-radius: 0px 10px 10px 10px;
}

#vlabA, #vlabB {
    background-color: darkseagreen;
    top: -17px;
    border-radius: 10px 10px 10px 0px;
}

#slider {
    position: fixed;
    width: 40%;
    top: 20px;
    left: 55%;

    color: white;
}

.question {
    display: flex;
    margin-bottom: 5px;
    /* margin-left: calc(50% - 210px); */
    margin-left: 10%;
}

.comment {
    display: flex;
    margin-bottom: 5px;
    /* margin-left: calc(50% - 210px); */
    margin-left: 10%;
    width: 80%;
    min-height: 200px;
}

.questions {
    /* width: 80%; */
    left: 10%;
    position: relative;
}

.label {
    width: 200px;
    margin-right: 10px;
    text-align: right;
}

.labels {
    text-align: right;
}

.contract {
    width: calc(100% - 10px);
    padding: 5px;
}

.input {
    width: 250px;
}

.inputs {
    /* width: 250px; */
}

.done {
    margin-top: 20px;
    width: 300px;
    height: 60px;
}

.text {
    margin-right: 10%;
    margin-left: 10%;
    text-align: justify;
}

table {
    border-collapse: collapse;
}

strong {
    color: #ff5454;
}

button > strong {
    color: black;
}

.left {
    text-align: left;
}

.spacer {
    padding-left: 15px;
    padding-right: 15px;
}

.tabbutgif {
    width: 100%;
}

.tabbut {
    width: 50%;
    text-align: right;
}

.tabgif {
    width: 50%;
    text-align: center;
}

.wrong {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #000000db;
}

.alert {
    position: relative;
    top: 30%;
    left: 10%;
    width: 60%;
    padding: 10%;
    border-radius: 15px;
    background-color: rgb(255, 177, 177);
    color: black;
}

.important {
    background-color: #ffd65a;
    padding: 20px;
    border-radius: 10px;
    color: black;
}

.important > strong {
    color: #e91e63;;
}

cite {
    display: block;
    padding: 10px;
}

#checkcontract {
    display: block;
    text-align: center;
    margin-top: 5px;
}

.check-ko, .check-ko:after {
    content: url(imgs/forbidden.png);
    height: 1em;
    vertical-align: middle;
}

.check-ok, .check-ok:after {
    content: url(imgs/check.png);
    height: 1em;
    vertical-align: middle;
}